<?php
$databases = array (
  'default' =>
  array (
    'default' =>
    array (
      'database' => '<%= @db %>',
      'username' => '<%= @user %>',
      'password' => '<%= @password %>',
      'host' => 'localhost',
      'port' => '3306',
      'driver' => 'mysql',
      'prefix' => '',
    ),
  ),
);


$conf['file_temporary_path'] = '/var/www/sites-files/<%= @site_name %>/tmp';
