<VirtualHost <% if @ec2_public_ipv4 then -%><%= @ec2_public_ipv4 %><% else -%><%= @ipaddress %><% end -%>:443>

SSLEngine on
SSLProxyEngine On
SSLProtocol all -SSLv2 -SSLv3
SSLCipherSuite HIGH:!aNULL:!MD5
SSLCertificateFile /etc/pki/tls/certs/localhost.crt
SSLCertificateKeyFile /etc/pki/tls/private/localhost.key
CustomLog logs/<%= @vhost_name %>_access_log common
ErrorLog logs/<%= @vhost_name %>_error_log
UseCanonicalName On
ServerName <%= @vhost_name %>
DocumentRoot /var/www/html/wwwroot/<%= @vhost_name %>/docroot

</VirtualHost>

<VirtualHost *:80>

CustomLog logs/wcm_tenant_access_log common
ErrorLog logs/wcm_tenants_error_log
UseCanonicalName On
ServerName <%= @vhost_name %>
DocumentRoot /var/www/html/wwwroot/<%= @vhost_name %>/docroot

</VirtualHost>
